.report-sidebar: p Urban Regeneration in Kyoto

.toc
  include:markdown-it ToC.md

div(style="page-break-before:always")

.abstract
  include:markdown-it abstract.md

.main-text

  include 1-introduction.pug
  
  include 2-background.pug

  include 3-methodology.pug

  include:markdown-it bibliography.md

template#page-header
  <br>
  <br>

template#page-footer
  style(type='text/css').
    .pdfheader {
      font-size: 10px;
      color: #aaa;
      font-family: Helvetica;
      font-weight: bold;
      width: 1000px;
      border-top: 1px solid #aaa;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 1mm;
      margin-bottom: -1mm;
      text-align: center;
    }
  
  .pdfheader #[span.pageNumber]

style
  include:scss proposal.scss