// Theme
// ---------------------------------------------------------------------------

$light            : #f8f8f8;
$dark             : #22223c;

$text-light       : $light;
$text-dark        : $dark;
$text-light-fade  : transparentize($text-light, 0.5);
$text-dark-fade   : transparentize($text-dark, 0.5);

$primary          : $dark;
$secondary        : #00baa1;
$pop              : #00baa1;
$prop             : #ed5700; /* #ec6f49; */

$background       : $light;
$code-background  : darken($background, 0.75);
$overlay          : transparentize(#000, 0.5);

$font-size        : 28px;
$font-size-body   : 0.5em;
$font-padding-body: 10px;
$font-size-bar    : 0.6em;
$font-size-impact : 128px;
$font             : Montserrat, Helvetica, sans-serif;
$font-title       : Montserrat, Helvetica, sans-serif;
$font-fixed       : 'Source Code Pro', Monaco, monospace;

$margin           : 20px;
$iframe-scale     : 1.5;

// Mixins
// ---------------------------------------------------------------------------
@mixin all-but($num) {
  &:not(:nth-child(#{$num})) {
    @content
  }
}

@mixin only($num) {
  &:nth-child(#{$num}) {
   @content
  }
}

// CSS Base
// ---------------------------------------------------------------------------

* { box-sizing: border-box; }
body { font-family: $font; }
h1, h2, h3, h4, h5, h6 {
  margin: 0 $margin $margin $margin;
  font-family: $font-title;
  color: $text-dark;
}

.body-text {
  font-size: $font-size-body;
  padding-left: $font-padding-body;
  padding-right: $font-padding-body;
}

div:not(.impact) > h1 {
  text-align: left;
  color: $text-light;
  background-color: $dark;
  position: relative;
  padding-left: 0.8em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  z-index: 1;
}

div:not(.impact) > h2 {
  text-align: left;
  color: $text-light;
  background-color: $pop;
  position: relative;
  margin-left: 40px;
  padding-left: 0.8em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  z-index: 1;
}

div:not(.impact) > h2,
div:not(.impact) > h3,
div:not(.impact) > h4,
div:not(.impact) > h5,
div:not(.impact) > h6 {
  text-align: left;
  position: relative;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

li { margin-bottom: .25em; };
pre, code {
  text-align: left;
  font-family: $font-fixed;
  color: $secondary;
  background: $code-background;
}
a, a:visited, a:active { 
    transition: text-decoration 0.5s ease;
    color: inherit;
    text-decoration: $text-light underline;
}

a:hover {
    text-decoration: $pop underline;
}

.pic { 
    background: $light;
    display: inline;
    float: left;
    margin: 0 15px 15px;
    padding: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px transparentize($dark, 0.4);
    -moz-box-shadow: 0 4px 6px transparentize($dark, 0.4);
    box-shadow: 0 4px 6px transparentize($dark, 0.4);
    position:relative;
}

.piframe > iframe {
    background: $light;
    display: inline;
    float: left;
    margin: 0 15px 15px;
    padding: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px transparentize($dark, 0.4);
    -moz-box-shadow: 0 4px 6px transparentize($dark, 0.4);
    box-shadow: 0 4px 6px transparentize($dark, 0.4);
    position:relative;
}

blockquote {
  color: $text-dark-fade;
  position: relative;
  border-left: 6px solid $text-dark-fade;
  padding-left: .25em;
  text-align: left;
  margin: 1em 0;
  margin-left: 15px;
  & > p { margin: 0; }
}

strong {
  color: $pop;
}

.pop { 
    color: $pop;
}

.prop {
    .pop, strong {
        color: $prop;
    }

    div:not(.impact) > h2 {
        color: $text-light;
        background-color: $prop;
    }
}

.top {
    z-index: 10;
}

// Remark base
// ---------------------------------------------------------------------------

.remark-code { font-size: .7em; }
.remark-container { background: $dark; }
.remark-slide-scaler { box-shadow: none; }
.remark-notes { font-size: 1.5em; }

.remark-slide-content {
  font-size: $font-size;
  padding: 1em 2em;
  color: $text-dark;
  background-size: cover;
}

.remark-slide-number {
  color: $text-light-fade;
  right: 1em;
  font-family: $font-title;
  font-size: $font-size-bar;
  z-index: 2;
  .no-counter & { display: none; }
}

// Additions
.impact {
  background-color: $primary;
  vertical-align: middle;
  text-align: center;
  &, h1, h2, h3, h4, h5, h6 { color: $text-light; }
  h1 { font-size: $font-size-impact; }
  p {
    font-size: $font-size;
  }
}

.full {
  &, h1, h2 { color: $text-light; }
  &iframe {
    height: calc(#{100%/$iframe-scale} - 1.2em);
    width: 100%/$iframe-scale;
    transform: scale($iframe-scale);
    transform-origin: 0 0;
    border: 0;
  }
}

.bottom-bar {
  background-color: $primary;
  color: $text-light-fade;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: $font-title;
  font-size: $font-size-bar;
  padding: .8em;
  text-align: left;
  z-index: 1;
  p { margin: 0;}
  .impact &, .full & { display: none; }

  a, a:visited, a:active { 
      transition: text-decoration 0.5s ease;
      color: $text-light-fade;
      text-decoration: $text-light-fade underline;
  }
  
  a:hover {
      text-decoration: $pop underline;
  }
}

.bottom-bar-image {
    height: 15px;
    width: auto;
}

.compare-table {
    table {
        thead {
            tr {
                th {
                    @include all-but(2) {
                        color: black;
                        background: $code-background;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    @include only(2) {
                        color: white;
                        background: $primary;
                    }
                }
            }
        }
    }
}


// Utilities
// ---------------------------------------------------------------------------

// Tables.
table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom:1em;

  th, td {
    border: 1px solid $dark;
    padding: 0.5em 1em;
    white-space: pre;
  }

  thead {
    color: $light;
    background: $dark;

    th {
      text-align: center;
      border: 1px solid $light;
      padding: 1em;
    }
  }

  tbody {
    color: $dark;
    background: transparentize($light, 0.1);
  
    td {
      text-align: center;
    }
  }
}

// Ordered Lists
ol {
    counter-reset: li; /* Initiate a counter */
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

ol li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em $margin .5em 2.5em;
    background: $code-background;
    color: $text-dark;
    text-decoration: none;  
}

ol li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    color: $text-light;
    background: $primary;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

ol li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;               
}   

// Unordered Lists
.cul > ul ul {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.cul > ul li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em $margin .5em 2.5em;
    background: $code-background;
    color: $text-dark;
    text-decoration: none;  
}

.cul > ul li:before{
    content: "";
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    color: $text-light;
    background: $primary;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.cul > ul li:after {
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;               
}   

// Positioning
.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em;
}
// .middle { &, & img, & span { vertical-align: middle; } };
.middle {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.top { vertical-align: top; };
.bottom { vertical-align: bottom; };
.inline-block {
  p, ul, ol, blockquote {
    display: inline-block;
    text-align: left;
  }
}
.no-margin { &, & > p, & > pre, & > ul, & > ol { margin: 0; } }
.no-padding { padding: 0; }
.space-left { padding-left: 1em; }
.space-right { padding-right: 1em; }
.pad { padding: 5px; }

// Images
.responsive > img { width: 100%; height: auto; };
.responsive-height > img {     
    width: auto;
    height: 16em;
    display: block;
    margin: auto; 
};
.responsive-height-all > img {     
    width: auto;
    height: 19em;
    display: block;
    margin: auto; 
};
.responsive-height-sm > img { max-width: 90%; max-height: 11em; };
.responsive-height-vsm > img { max-width: 90%; max-height: 8em; };
.responsive-width > img { width: 95%; height: auto; };
.responsive-width-sm > img { width: 75%; height: auto; margin-left: auto; margin-right: auto;};
.contain { background-size: contain; };
.overlay { box-shadow: inset 0 0 0 9999px $overlay; }
.background-image {}

.pic-full-right > img {
    max-height: 100%;
    min-width: 50%;
    top: 0;
    position: absolute;
    left: 51%;
}

.pic-full-left > img {
    max-height: 100%;
    min-width: 50%;
    top: 0;
    position: absolute;
    right: 51%;
}

// Text
.left { float: left; }
.right { float: right; }
.center { text-align: center !important; }
.justify { text-align: justify !important; }
.primary { color: $primary; }
.dark { color: $dark; }
.dark-bg { background-color: $dark; }
.light-p { color: $light; blockquote { color: $light }};
.light-h { h1, h2, h3, h4, h5, h6 { color: $light; }; };
.em { color: $text-light; };
.thin { font-weight: 200; }
.huge { font-size: 2em; }
.big { font-size: 1.4em; }
.small { font-size: .8em; }
.fade { opacity: 0.5; }

// Simple 12-columns grid system
.row {
  width: 100%;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &.table { display: table; };
  &.table [class^="col-"] {
    float: none;
    display: table-cell;
    vertical-align: inherit;
  }
}

.center-v {
    display: flex;
    align-items: center;
}

.center-h {
    margin-left: auto;
    margin-right: auto;
}

[class^="col-"] {
  float: left;
  &.inline-block {
    float: none;
    display: inline-block;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {width: 100% / 12 * $i; }
}

// Animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-fade {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  .remark-visible & { animation-name: fadeIn; }
}


// Fix PDF print with chrome
// ---------------------------------------------------------------------------

@page {
  size: 1280px 720px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
